.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.btn-export {
  background-color: blueviolet;
  border: none;
  color: aliceblue;
}
.switch-area {
  display: flex;
  top: 30;
  justify-content: space-between;
  width: 200;
  align-content: center;
}
.switch-area h4 {
  color: aliceblue;
}
.form-export {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 700;
  align-content: space-around;
}
.export-item{
  margin: 20px;
}
.header-top{
  position: sticky;
}
.color_white{
  color: rgb(255, 255, 255);
}
.color_gray{
  color: rgba(255, 255, 255, 0.322);
}
.container{
  display: block;
  height: 700;

}
.btn-switch{
  margin-top: 10px;
  background-color: #61dafb;
}
.btn-download{
  background-color: rgba(255, 145, 0, 0.87);
  color: black;
  width: 400;
  border: none;
  border-radius: 20;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
